:root {
    --page-bg-color: #f9f9fd;
    --primary-text-color: #212121;
    --card-set-gap: 20px;
    --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

*, ::after, ::before {
    box-sizing: border-box;
}
/* Body */

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: var(--primary-text-color)
}

.container {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
}

/* Header */

.site-logo {
    color: #000000;
}

.site-nav .link:hover,
.site-nav .link-focus  {
    color: #2196F3;
}

.main-nav {
    display: flex;
    align-items: center;
}

.header {
    background: #ccc;
}

.site-logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
/* identical to box height */
    letter-spacing: 0.03em;
}

.logo-icon {
    color: #2196F3;
}

.site-nav {
    display: flex;
}

.auth-nav {
    display: flex;
    text-decoration: none;
    font-family: 'Roboto';
}

.site-nav .link:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    margin-right: 50px;
}



/* mail */


/* Phone */

.contact-header {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.auth-nav .contact-header:hover {
    color: #2196F3;
}

.auth-nav .contact-header + .contact-header {
    margin-left: 50px;
}

.button {
    display: inline-block;
    padding: 6px 22px;

    background: #F5F4FA;
    border-radius: 4px;
}

.button-all {
    display: inline-block;
    padding: 6px 25px;
    color: #FFFFFF;
    background: #2196F3;
    /* shadow-middle */
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.button-order {
    display: inline-block;
    padding: 11px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 200px;
}

.reset-portfolio {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    text-decoration: none;
}

.list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Особливості */

.text {
}

.team {
margin-bottom: 0;
margin-top: 0;
}

.page {
    background-color: #ffffff;
    color: #212121;
}

    /* Замовити послугу */

.subtitle {

}

/* Bg */

.hero-top {
    text-align: center;
    background: #2F303A;
}

    /* Section bg */

.section-bg {
    background: #F5F4FA;
}

/* Description */

.description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-top: 0;
    margin-bottom: 10;
}

.meaning {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 0;
}
/* Team */

.team {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    color: #212121;
}

.staff {  
    padding-bottom: 0;
    margin-bottom: 0;
}

.card-bg {
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.hero-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 200px;
    text-align: center;
}

/* Чим ми займаємося */

.section-mid {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 0;margin-bottom: 0;
}

/* Image */
.img-first {
    mix-blend-mode: normal;
}

.img-second {
}

.img-third {
}

.conteiner {
}

.staff-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 0;
    margin-bottom: 0;
}

.job-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer-logo {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    margin-top: 60px;
    margin-bottom: 20px;
}

.footer {
    background: #2F303A;
    margin-right: 0;
}

.address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 9px;
    margin-top: 0;
}

.contact-footer {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
}


.project {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: #212121;
    margin-top: 0;
    margin-bottom: 4px;
}

.type-project {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 0;
    margin-bottom: 0;
}

.end {
    margin-top: 0;
    margin-bottom: 9px;
}